<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>

<style>
    body{
        background-color: #909090;
        font-family: sans-serif;
    }
    div#ORM{
        display: block;
        background-color: black;
        width: 470px;
        position: absolute;
        left: 400px;
        top: 150px;
        padding: 10px;
    }

    a{
        color: white;
        font-size: 20pt;
        text-decoration: none;
        padding: 5px
    }

    a:hover{
        text-decoration: underline;
    }

    h1{
        text-align: center;
    }
</style>

<body>
        <h1>Escolha a opção!</h1>
    <div id="ORM">
        <a href="{% url 'crud:adicionar' %}">Adicionar</a>
        <a href="{% url 'crud:listar' %}">Listar</a>
        <a href="{% url 'crud:atualizar' %}">Atualizar</a>
        <a href="">Remover</a>
    </div>
</body>
</html>